body {
  background-color: black;
}

.smoke {
  background-color: white;
  color: black;
  font-size: 15px;
}


.MbInactive:hover{
  background-color: gray;
}

.MbInactive {
  background-color: rgb(158, 126, 126);
    display:inline-block;
    padding:10px 15px;
    border-style: dashed;
}

.border {
  border-style:outset;
  border-radius: 10px;
  border-color: mediumaquamarine;
}

h1, p {
  color: white;
}